*.pyc

/pyejdb/build/
/pyejdb/test/__pycache__
__pycache__
/pyejdb/debian/files
/pyejdb/debian/python3-ejdb.debhelper.log
/pyejdb/debian/python3-ejdb.postinst.debhelper
/pyejdb/debian/python3-ejdb.prerm.debhelper
/pyejdb/debian/python3-ejdb.substvars
/pyejdb/debian/python3-ejdb/
/pyejdb/debian/tmp/
/python-ejdb_*.build
/python-ejdb_*.dsc
/python-ejdb_*.gz
/python-ejdb_*.build
/python-ejdb_*.changes
/python3-ejdb_*.deb
/pyejdb/testdb*
/pyejdb/dist/
/pyejdb/pyejdb.egg-info/
