*.pyc

build/
__pycache__
debian/files
debian/python3-ejdb.debhelper.log
debian/python3-ejdb.postinst.debhelper
debian/python3-ejdb.prerm.debhelper
debian/python3-ejdb.substvars
debian/python3-ejdb/
debian/tmp/
/python-ejdb_*.build
/python-ejdb_*.dsc
/python-ejdb_*.gz
/python-ejdb_*.build
/python-ejdb_*.changes
/python3-ejdb_*.deb
testdb*
dist/
pyejdb.egg-info/
